FOUNDRY_PROJECT_ENDPOINT=https://your-resource-name.openai.azure.com/api/projects/projects-name
FOUNDRY_MODEL=gpt-4.1-mini
AZURE_OPENAI_API_KEY=*****

AZURE_SPEECH_KEY=*****
AZURE_SPEECH_REGION=your-location

APP_HOST=0.0.0.0
APP_PORT=8000

COSMOS_DB_ENDPOINT=https://database-endpoint.documents.azure.com
COSMOS_DB_KEY=*****
COSMOS_DB_DATABASE=YappingStudyBuddy
COSMOS_DB_CONTAINER=sessions