fastapi
uvicorn
gunicorn
python-dotenv
python-multipart
pymupdf
azure-identity
azure-cognitiveservices-speech
azure-cosmos

agent-framework==1.0.0
agent-framework-foundry==1.0.0
agent-framework-openai==1.0.0